In [1]:
import os
import pandas as pd

In [2]:
!curl -O https://www1.nyc.gov/assets/planning/download/zip/data-maps/open-data/nyc_pluto_18v1.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 46.0M  100 46.0M    0     0  54.7M      0 --:--:-- --:--:-- --:--:-- 54.7M

In [3]:
os.environ["PUIDATA"] = "%s/PUIdata"%os.getenv("HOME")
print("PUIdata", os.getenv("PUIDATA"))

PUIdata /nfshome/tc1767/PUIdata

In [4]:
!mv nyc_pluto_18v1.zip $PUIDATA

In [5]:
!unzip $PUIDATA/nyc_pluto_18v1.zip

Archive:  /nfshome/tc1767/PUIdata/nyc_pluto_18v1.zip
  inflating: PLUTO_for_WEB/BK_18v1.csv
  inflating: PLUTO_for_WEB/BX_18v1.csv
  inflating: PLUTO_for_WEB/MN_18v1.csv
  inflating: PLUTO_for_WEB/PLUTODD18v1.pdf
  inflating: PLUTO_for_WEB/PlutoReadme18v1.pdf
  inflating: PLUTO_for_WEB/QN_18v1.csv
  inflating: PLUTO_for_WEB/SI_18v1.csv

In [9]:
dfM = pd.read_csv(os.getenv("PUIDATA") + "/PLUTO_for_WEB/MN_18v1.csv")

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (20,23,24,26,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
dfM.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_Flag,PFIRM15_Flag,Version
0,MN,1,10,101,5.0,1011.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
1,MN,1,101,101,1.0,1001.0,2.0,1.0,10004.0,E007,...,Y,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
2,MN,1,201,101,1.0,1000.0,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,1,NaN,1.0,18V1
3,MN,1,301,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,199 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
4,MN,1,401,101,NaN,NaN,2.0,1.0,10004.0,E007,...,NaN,1 99 999,10101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,MN,2,1,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
6,MN,2,2,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,11N 100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
7,MN,2,3,101,9.0,NaN,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,1.000020e+09,08/07/2012,1,1.0,1.0,18V1
8,MN,2,23,101,9.0,1025.0,2.0,1.0,10004.0,L015,...,NaN,101N100,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,MN,3,1,101,319.0,1000.0,2.0,1.0,10004.0,L015,...,NaN,101S087,10101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [11]:
dfB = pd.read_csv(os.getenv("PUIDATA") + "/PLUTO_for_WEB/BK_18v1.csv")

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (19,20,22,23,24,25,26,64,65,80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
dfB.head(10)

,Borough,Block,Lot,CD,CT2010,CB2010,SchoolDist,Council,ZipCode,FireComp,...,ZMCode,Sanborn,TaxMap,EDesigNum,APPBBL,APPDate,PLUTOMapID,FIRM07_FLAG,PFIRM15_FLAG,Version
0,BK,1,1,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,11/26/2013,1,1.0,1.0,18V1
1,BK,1,50,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,E-231,0.000000e+00,NaN,1,1.0,1.0,18V1
2,BK,1,7501,302,21.0,2000.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,3.000010e+09,03/04/2016,1,1.0,1.0,18V1
3,BK,3,1,302,21.0,3002.0,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
4,BK,3,5,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,302 007,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
5,BK,3,35,302,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,302 007,3.0,NaN,NaN,NaN,5,NaN,NaN,18V1
6,BK,5,1,302,21.0,3001.0,13.0,33.0,11201.0,L118,...,NaN,302 008,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
7,BK,5,8,302,21.0,NaN,13.0,33.0,11201.0,L118,...,NaN,300 000,30101.0,NaN,0.000000e+00,NaN,4,1.0,1.0,18V1
8,BK,6,1,302,21.0,3000.0,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1
9,BK,6,10,302,21.0,NaN,13.0,33.0,11201.0,E207,...,NaN,302 009,30101.0,NaN,0.000000e+00,NaN,1,1.0,1.0,18V1

In [13]:
dfB.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'],
      dtype='object')

In [14]:
dfM.columns

Index(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'ZipCode', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'LandUse', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'],
      dtype='object')

In [15]:
dfM.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_Flag', 'PFIRM15_Flag', 'Version'], axis = 1, inplace = True)

In [16]:
dfM.head()

   ZipCode  LandUse
0  10004.0      8.0
1  10004.0      8.0
2  10004.0      NaN
3  10004.0      7.0
4  10004.0      7.0

In [17]:
dfB.drop(['Borough', 'Block', 'Lot', 'CD', 'CT2010', 'CB2010', 'SchoolDist',
       'Council', 'FireComp', 'PolicePrct', 'HealthCenterDistrict',
       'HealthArea', 'SanitBoro', 'SanitDistrict', 'SanitSub', 'Address',
       'ZoneDist1', 'ZoneDist2', 'ZoneDist3', 'ZoneDist4', 'Overlay1',
       'Overlay2', 'SPDist1', 'SPDist2', 'SPDist3', 'LtdHeight', 'SplitZone',
       'BldgClass', 'Easements', 'OwnerType', 'OwnerName',
       'LotArea', 'BldgArea', 'ComArea', 'ResArea', 'OfficeArea', 'RetailArea',
       'GarageArea', 'StrgeArea', 'FactryArea', 'OtherArea', 'AreaSource',
       'NumBldgs', 'NumFloors', 'UnitsRes', 'UnitsTotal', 'LotFront',
       'LotDepth', 'BldgFront', 'BldgDepth', 'Ext', 'ProxCode', 'IrrLotCode',
       'LotType', 'BsmtCode', 'AssessLand', 'AssessTot', 'ExemptLand',
       'ExemptTot', 'YearBuilt', 'YearAlter1', 'YearAlter2', 'HistDist',
       'Landmark', 'BuiltFAR', 'ResidFAR', 'CommFAR', 'FacilFAR', 'BoroCode',
       'BBL', 'CondoNo', 'Tract2010', 'XCoord', 'YCoord', 'ZoneMap', 'ZMCode',
       'Sanborn', 'TaxMap', 'EDesigNum', 'APPBBL', 'APPDate', 'PLUTOMapID',
       'FIRM07_FLAG', 'PFIRM15_FLAG', 'Version'], axis = 1, inplace = True)

In [18]:
dfB.head()

   ZipCode  LandUse
0  11201.0     11.0
1  11201.0      5.0
2  11201.0      4.0
3  11201.0      7.0
4  11201.0      7.0

In [27]:
mngrouped = dfM.groupby(['LandUse'],axis = 0).count()
mngrouped = mngrouped.reset_index()
mngrouped

    LandUse  ZipCode
0       1.0     4019
1       2.0    16246
2       3.0     4881
3       4.0     7238
4       5.0     4465
5       6.0      726
6       7.0      386
7       8.0     2456
8       9.0      434
9      10.0      679
10     11.0     1199

In [28]:
bkgrouped = dfB.groupby(['LandUse'],axis = 0).count()
bkgrouped = bkgrouped.reset_index()
bkgrouped

    LandUse  ZipCode
0       1.0   156271
1       2.0    66358
2       3.0     3437
3       4.0    22515
4       5.0     5743
5       6.0     4434
6       7.0     1040
7       8.0     4330
8       9.0      872
9      10.0     4229
10     11.0     6298

In [29]:
bkgrouped = bkgrouped.astype(int)
bkgrouped.head()

   LandUse  ZipCode
0        1   156271
1        2    66358
2        3     3437
3        4    22515
4        5     5743

In [30]:
mngrouped = mngrouped.astype(int)
mngrouped.head()

   LandUse  ZipCode
0        1     4019
1        2    16246
2        3     4881
3        4     7238
4        5     4465

In [32]:
both = bkgrouped.merge(mngrouped, on = 'LandUse')
both.columns

Index(['LandUse', 'ZipCode_x', 'ZipCode_y'], dtype='object')

In [33]:
both = both.rename(columns = {"ZipCode_x": "bk", "ZipCode_y": "mn"})
both

    LandUse      bk     mn
0         1  156271   4019
1         2   66358  16246
2         3    3437   4881
3         4   22515   7238
4         5    5743   4465
5         6    4434    726
6         7    1040    386
7         8    4330   2456
8         9     872    434
9        10    4229    679
10       11    6298   1199

In [34]:
both['LandUse'][0] = 'One &Two Family Buildings'
both['LandUse'][1] = 'Multi-Family Walk-Up Buildings'
both['LandUse'][2] = 'Multi-Family Elevator Buildings'
both['LandUse'][3] = 'Mixed Residential & Commercial Buildings'
both['LandUse'][4] = 'Commercial & Office Buildings'
both['LandUse'][5] = 'Industrial & Manufacturing'
both['LandUse'][6] = 'Transportation & Utility'
both['LandUse'][7] = 'Public Facilities & Institutions'
both['LandUse'][8] = 'Open Space & Outdoor Recreation'
both['LandUse'][9] = 'Parking Facilities'
both['LandUse'][10] = 'Vacant Land'
both

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                                     LandUse      bk     mn
0                  One &Two Family Buildings  156271   4019
1             Multi-Family Walk-Up Buildings   66358  16246
2            Multi-Family Elevator Buildings    3437   4881
3   Mixed Residential & Commercial Buildings   22515   7238
4              Commercial & Office Buildings    5743   4465
5                 Industrial & Manufacturing    4434    726
6                   Transportation & Utility    1040    386
7           Public Facilities & Institutions    4330   2456
8            Open Space & Outdoor Recreation     872    434
9                         Parking Facilities    4229    679
10                               Vacant Land    6298   1199

In [35]:
both['luratio'] = both.mn / both.bk
both

                                     LandUse      bk     mn   luratio
0                  One &Two Family Buildings  156271   4019  0.025718
1             Multi-Family Walk-Up Buildings   66358  16246  0.244824
2            Multi-Family Elevator Buildings    3437   4881  1.420134
3   Mixed Residential & Commercial Buildings   22515   7238  0.321475
4              Commercial & Office Buildings    5743   4465  0.777468
5                 Industrial & Manufacturing    4434    726  0.163735
6                   Transportation & Utility    1040    386  0.371154
7           Public Facilities & Institutions    4330   2456  0.567206
8            Open Space & Outdoor Recreation     872    434  0.497706
9                         Parking Facilities    4229    679  0.160558
10                               Vacant Land    6298   1199  0.190378

In [36]:
leng = len(both)
def change(x):
    if x > 1:
        return'True'
    else:
        return 'False'
both['Manhattan Wins'] = both['luratio'].apply(change)
both

,LandUse,bk,mn,luratio,Manhattan Wins
0,One &Two Family Buildings,156271,4019,0.025718,False
1,Multi-Family Walk-Up Buildings,66358,16246,0.244824,False
2,Multi-Family Elevator Buildings,3437,4881,1.420134,True
3,Mixed Residential & Commercial Buildings,22515,7238,0.321475,False
4,Commercial & Office Buildings,5743,4465,0.777468,False
5,Industrial & Manufacturing,4434,726,0.163735,False
6,Transportation & Utility,1040,386,0.371154,False
7,Public Facilities & Institutions,4330,2456,0.567206,False
8,Open Space & Outdoor Recreation,872,434,0.497706,False
9,Parking Facilities,4229,679,0.160558,False
10,Vacant Land,6298,1199,0.190378,False

## comment on what you found out. Does it make sense?¶

Manhattan only has more Multi-Family Elevator Buildings than Brooklyn does. However, for all other land use classes, Brooklyn has more buildings than Manhattan does. It does make sense because Brooklyn is much lareger than Manhattan. Since Manhattan is so compact, it's reasonable that it has more multi-family elevator building in order to satisfy the need of large population living in Manhattan. On the other hand, since Brooklyn has larger acreage and lower living cost, there are more multi-family walk-up buildings and one&two family buildings.